[Desktop Entry]
Name=k9s
Comment=Kubernetes CLI To Manage Your Clusters In Style
Exec=gnome-terminal -- k9s
Icon=kubernetes
Terminal=false
Type=Application
Categories=Kubernetes;Development;System;
Keywords=kubernetes;k8s;cluster;pods;
