Package: nubifer-security
Version: __VERSION__
Section: admin
Priority: optional
Architecture: all
Depends: bash, apparmor, apparmor-utils, apparmor-profiles, apparmor-profiles-extra, ufw, fail2ban, unattended-upgrades, apt-listchanges, auditd, audispd-plugins, libpam-tmpdir, libpam-pwquality, rkhunter, chkrootkit, aide, aide-common, needrestart, kexec-tools, lynis
Recommends: nubifer-core
Maintainer: NubiferOS Project <info@nubiferos.org>
Homepage: https://nubiferos.org
Description: NubiferOS security hardening configuration
 AppArmor profiles, UFW firewall rules, fail2ban configuration,
 kernel hardening (sysctl), SSH hardening, PAM password policies,
 audit rules, automatic security updates, and security monitoring.
