[D-BUS Service]
Name=org.nubiferos.CredentialManager
Exec=/usr/local/bin/nubifer-creds-service
User=
SystemdService=nubifer-credential-manager.service
